apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ saname }}
  namespace: {{ namespace }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ rolename }}
  namespace: {{ namespace }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "watch", "list", "create", "delete", "patch", "deletecollection"]
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "watch", "list", "create", "delete", "patch", "deletecollection"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "watch", "list", "create", "delete", "patch", "deletecollection"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "watch", "list", "create", "delete", "patch", "deletecollection"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "watch", "list", "create", "delete", "patch", "deletecollection"]
---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name:  {{ rolebindingname }}
  namespace: {{ namespace }}
subjects: 
  - kind: ServiceAccount
    name: {{ saname }}
roleRef:
  kind: Role
  name: {{ rolename }}
  apiGroup: rbac.authorization.k8s.io