duration: 29200
clusterDomain: {{ clusterDomain }}
secretName: dcp-secret-{{ name }}
fullname: localhost
keycloak: {{ keycloak }}
altNames:
{%- for altName in altNames %}
  - "{{ altName }}"
{%- endfor %}