connector.name=iceberg
hive.metastore.uri=thrift://{{ hmsurl }}:{{ hmsport }}
hive.s3.endpoint={{ endpoint }}
hive.s3.aws-access-key={{ accesskey }}
hive.s3.aws-secret-key={{ secretkey }}
hive.s3.path-style-access={{ styleaccess }}
hive.s3.ssl.enabled={{ enablessl }}

{{ extrasconfiguration }}