apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  provider:
    vault:
      server: "http://vault.dcp.svc.cluster.local:8200"
      path: "kv"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "dcp-role"